<!DOCTYPE html> 
<html lang="en" ng-app="dufanAppl" ng-controller="dufanControllerr">
    <%- include('layouts/header.ejs') %>
<body>
    <%- include('layouts/nav.ejs') %>
    <%- body %>
    <%- include('layouts/footer.ejs') %>

</body>
</html>