<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style3.css">
</head>
<body>
  <canvas id="canvas"></canvas>
  <div class="main">
    <div class="dp">
        <img src="/assets/img/5.jpg">
    </div>
    <div class="heading">
        <h1>Register Form</h1>
    </div>
    <div class="info">
        <form action="/register" method="post"> 
            <div class="user">
                <input type="text" placeholder="Enter your username" name="username" required autocomplete="off">
            </div>
            <div class="email">
                <input type="text" placeholder="Enter your email" name="email" required autocomplete="off">
            </div>
            <div class="password">
                <input type="password" placeholder="Enter your password" name="password" required>
            </div>
            <div class="logIn" style="text-align: center;">
                <button type="submit" class="submit-btn">Register</button> 
            </div>
        </form>
    </div>
</div>
  <script src="/script/script.js"></script>
</body>
</html>
