<canvas id="canvas"></canvas>
    <img src="https://www.ancol.com/blog/wp-content/uploads/2022/06/hotel-di-ancol.jpg" alt="" style="width: 100%; height: auto; display: block;height: 600px;">
    <section class="py-6 sm:py-12  text-gray-800">
        <div class="container p-6 mx-auto space-y-8">
            <div class="space-y-2 text-center">
                <h2 class="text-3xl font-bold text-white">Tempat Peristirahatan yang Nyaman</h2>
                <p class="font-serif text-sm text-white">Menemukan Kesempurnaan Penginapan Adalah Tujuan Kami</p>
            </div>
            <div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4">
                <article class="flex flex-col bg-gray-50">
                    <a rel="" href="#" aria-label="">
                        <img alt="" class="object-cover w-full h-52 bg-gray-500" src="https://i.ytimg.com/vi/raqXKDTIwsk/maxresdefault.jpg">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="" href="#" aria-label=""></a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leading-snug">Putri Duyung Cottage</h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-600">
                            <span>Rp.240.000/Malam</span>
                            <span>3.9 &#9733;&#9733;&#9733;&#9734;&#9734;</span>
                        </div>
                    </div>
                </article>
                <article class="flex flex-col bg-gray-50">
                    <a rel="" href="#" aria-label="">
                        <img alt="" class="object-cover w-full h-52 bg-gray-500" src="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10000077-16e87c960c00401f2e269b1cefa06a64.jpeg?_src=imagekit&tr=c-at_max,h-280,q-40,w-740">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="" href="#" aria-label=""></a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leading-snug">Discovery Ancol Hotel</h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-600">
                            <span>Rp.750.000/Malam</span>
                            <span>4.2 &#9733;&#9733;&#9733;&#9733;&#9734;</span>
                        </div>
                    </div>
                </article>
                <article class="flex flex-col bg-gray-50">
                    <a rel="" href="#" aria-label="">
                        <img alt="" class="object-cover w-full h-52 bg-gray-500" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/284238709.jpg?k=9d4c48ab10b67ac3b698f0e57ef11b7aefd572a6d94023f6c75d08fba54d698a&o=&hp=1">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="" href="#" aria-label=""></a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leading-snug">Grand Dafam Ancol</h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-600">
                            <span>Rp.550.000/Malam</span>
                            <span>4.5 &#9733;&#9733;&#9733;&#9733;&#9734;</span>
                        </div>
                    </div>
                </article>
                <article class="flex flex-col bg-gray-50">
                    <a rel="" href="#" aria-label="">
                        <img alt="" class="object-cover w-full h-52 bg-gray-500" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/469291703.jpg?k=73ef3d907b6ecb77f205acee836cbaa077cd4544122e36228be0866ea0ff190a&o=&hp=1">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="" href="#" aria-label=""></a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leading-snug">BI Executive Hotel</h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-600">
                            <span>Rp.210.000/Malam</span>
                            <span>3.5 &#9733;&#9733;&#9733;&#9734;&#9734;</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="py-6 sm:py-12  text-gray-800">
        <div class="container p-6 mx-auto space-y-8">
            <div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4">
                <article class="flex flex-col bg-gray-50">
                    <a rel="" href="#" aria-label="">
                        <img alt="" class="object-cover w-full h-52 bg-gray-500" src="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10023701-de2f0946aa5b6a61c3dacba185c68ea7.jpeg?tr=q-40,c-at_max,w-740,h-500&_src=imagekit">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="" href="#" aria-label=""></a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leading-snug">Cordex Hotel Ancol</h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-600">
                            <span>Rp.270.000/Malam</span>
                            <span>4.0 &#9733;&#9733;&#9733;&#9733;&#9734;</span>
                        </div>
                    </div>
                </article>
                <article class="flex flex-col bg-gray-50">
                    <a rel="" href="#" aria-label="">
                        <img alt="" class="object-cover w-full h-52 bg-gray-500" src="https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/205/2019/11/08075835/Slideshow2.jpg-min-min-1500x400.jpg">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="" href="#" aria-label=""></a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leading-snug">Mercure Convention Center Ancol</h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-600">
                            <span>Rp.620.000/Malam</span>
                            <span>4.2 &#9733;&#9733;&#9733;&#9733;&#9734;</span>
                        </div>
                    </div>
                </article>
                <article class="flex flex-col bg-gray-50">
                    <a rel="" href="#" aria-label="">
                        <img alt="" class="object-cover w-full h-52 bg-gray-500" src="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/20008877-d6750e5aa2aa33ceecd07261d3393631.jpeg?_src=imagekit&tr=c-at_max,h-280,q-40,w-740">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="" href="#" aria-label=""></a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leading-snug">Sky Hotel Ancol</h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-600">
                            <span>Rp.130.000/Malam</span>
                            <span>3.8 &#9733;&#9733;&#9733;&#9734;&#9734;</span>
                        </div>
                    </div>
                </article>
                <article class="flex flex-col bg-gray-50">
                    <a rel="" href="#" aria-label="">
                        <img alt="" class="object-cover w-full h-52 bg-gray-500" src="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/20016276-b865f286ef63bf6d7db07dcf58b17924.jpeg?tr=q-40,c-at_max,w-740,h-500&_src=imagekit">
                    </a>
                    <div class="flex flex-col flex-1 p-6">
                        <a rel="" href="#" aria-label=""></a>
                        <h3 class="flex-1 py-2 text-lg font-semibold leading-snug">Ancol Homestay</h3>
                        <div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs text-gray-600">
                            <span>Rp.220.000/Malam</span>
                            <span>4.3 &#9733;&#9733;&#9733;&#9733;&#9734;</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
