        .box {
            font-family: Arial, sans-serif;
            padding: 20px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: url('https://cdn.discordapp.com/attachments/1177153533162823761/1182297636863221820/9c6ae660-1799-4276-b81d-f8b0b85669d6-1638949473006-1e6c55a1b1edca6bf250012af2cc79e2.png?ex=65842f7a&is=6571ba7a&hm=248b51be540e9743c79b8cc7368bd5b11394d559b2791d7c073d534804c14d13&');
            background-color: #f0f0f0; 
            background-size: cover;
        }

        .cart-container {
            text-align: center;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 70%;
            max-width: 600px;
        }

        h1 {
            color: #333;
        }

        .cart-item {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }

        .cart-total {
            font-weight: bold;
        }

        .checkout-button {
            display: inline-block;
            margin-top: 20px;
            padding: 8px 16px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
        }
  /* css search bar */

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: -5rem;
}

.search-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 300px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

        