*{
    margin: 0;
    padding: 0;
}
:root {
    overflow: auto;
  }
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
  }
.main{
    height: 450px;
    width: 300px;
    background-color:white;
    box-shadow: 5px 5px 10px #b2b2b2;
    margin: auto auto;
    margin-top: 100px;
    margin-bottom: 170px;
}
.dp{
    height: 150px;
    width:300px;
}
.dp img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 20px 85px;
}
.heading{
    height: 50px;
    width: 300px;
    
}
.heading h1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
.user .password{
    height: 50px;
}
.info input{
    height: 40px;
    width: 260px;
    margin: 8px 18px;
    background-color: transparent;
    border: 1px solid gray;
    text-align: center;
    outline: none;
    
}
.logIn{
    height: 50px;
    width: 300px;
}
.logIn button{
    height: 40px;
    width: 260px;
    margin: 5px 18px;
    background-color:#33cc33;
    border: 1px solid #33cc33;
}
button:on click{
    border: none;
}
.remember input{
    margin-left: 18px;
    margin-top: 15px;
}
label{
    font-size: 12px;
}
.remember a{
    margin-left: 85px;
    font-size: 12px;
}
.remember {
    position: absolute; 
    top: 470px; 
    right:830px; 
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: -5rem;
}

.search-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 300px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}
/* cart css */
.box {
    font-family: Arial, sans-serif;
    margin-top: -4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.cart-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 600px;
}

h1 {
    color: #333;
}

.cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.cart-total {
    font-weight: bold;
}

.checkout-button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}